# Data Preprocessing

**Main data**
- 2021 Childhood Blood Lead Surveillance: State Data
Reference: [CDC](https://www.cdc.gov/lead-prevention/php/data/state-surveillance-data.html)

**Sub data**
- Age of housing
- Insurance coverage
- Child poverty
- Housing insecurity(rented vs owned)
- Parent's Occupation
Reference: [Census](https://data.census.gov/)

## 1. Load Data

**1) main data**

In [152]:
import pandas as pd
import numpy as np

In [205]:
lead_df = pd.read_csv("data/2021-blood-lead-by-state-county.csv", encoding="ISO-8859-1")

In [154]:
lead_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1496 entries, 0 to 1495
Data columns (total 14 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   State                                               1496 non-null   object
 1   County                                              1496 non-null   object
 2   Total Population of Children <72 Months of Age      1496 non-null   int64
 3   Number of Children Tested <72 Months of Age         1496 non-null   object
 4   Number of Children with Confirmed BLLs ³5 µg/dL     1496 non-null   object
 5   Percent of Children with Confirmed BLLs ³5 µg/dL    1496 non-null   object
 6   Number of Children with Confirmed BLLs ³10 µg/dL    1496 non-null   object
 7   Percent of Children with Confirmed BLLs ³10 µg/dL   1496 non-null   object
 8   Number of Children with Confirmed BLLs 5-9 µg/dL    1496 non-null   object
 9   Number of Children with Confirmed BLLs 10-14 µg/dL  1496 non-null   object
 10  Number of Children with Confirmed BLLs 15-19 µg/dL  1496 non-null   object
 11  Number of Children with Confirmed BLLs 20-24 µg/dL  1496 non-null   object
 12  Number of Children with Confirmed BLLs 25-44 µg/dL  1496 non-null   object
 13  Number of Children with Confirmed BLLs ³45 µg/dL    1496 non-null   object
dtypes: int64(1), object(13)
memory usage: 163.8+ KB

In [155]:
lead_df.head()

,State,County,Total Population of Children <72 Months of Age,Number of Children Tested <72 Months of Age,Number of Children with Confirmed BLLs ³5 µg/dL,Percent of Children with Confirmed BLLs ³5 µg/dL,Number of Children with Confirmed BLLs ³10 µg/dL,Percent of Children with Confirmed BLLs ³10 µg/dL,Number of Children with Confirmed BLLs 5-9 µg/dL,Number of Children with Confirmed BLLs 10-14 µg/dL,Number of Children with Confirmed BLLs 15-19 µg/dL,Number of Children with Confirmed BLLs 20-24 µg/dL,Number of Children with Confirmed BLLs 25-44 µg/dL,Number of Children with Confirmed BLLs ³45 µg/dL
0,AL,Autauga,4045,238,SD,SD,SD,SD,0,SD,0,0,0,0
1,AL,Baldwin,14651,552,SD,SD,0,0.00%,SD,0,0,0,0,0
2,AL,Barbour,1571,268,SD,SD,SD,SD,0,SD,SD,0,0,0
3,AL,Bibb,1459,105,SD,SD,SD,SD,0,SD,0,0,0,0
4,AL,Blount,4148,365,0,0.00%,0,0.00%,0,0,0,0,0,0

**2) Sub data**

In [156]:
# House relevant
house_built_year_df = pd.read_csv("data/2021 YEAR STRUCTURE BUILT.K202505-Data.csv")
house_plumbing_df = pd.read_csv("data/2021.PLUMBING FACILITIES.DP04.csv")
house_price_df = pd.read_csv("data/2021.PRICE.DP04.csv")

# Insurance
insurance_df = pd.read_csv("data/2021.AGE BY HEALTH INSURANCE COVERAGE STATUS.K202701-Data.csv")

# Poverty
poverty_df = pd.read_csv("data/2021.POVERTY STATUS IN THE PAST 12 MONTHS BY AGE.K201701-Data.csv")

# House Insecurity
insecurity_df = pd.read_csv("data/2021.TENURE.B25003.csv")

# Parent's Occupation
occupation_df = pd.read_csv("data/2021. OCCUPATION FOR THE CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER.K202401-Data.csv")
industry_df = pd.read_csv("data/2021.INDUSTRY FOR THE CIVILIAN EMPLOYED POPULATION 16 YEARS AND OVER.K202403-Data.csv")

## 2. Cleaning the Data

### 1) House relevant data

In [157]:
house_built_year_df.info()
house_built_year_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 15 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Geographic Area Name                            1904 non-null   object
 1   Estimate!!Total:                                1903 non-null   float64
 2   Margin of Error!!Total:                         1903 non-null   float64
 3   Estimate!!Total:!!Built 2020 or later           1903 non-null   float64
 4   Margin of Error!!Total:!!Built 2020 or later    1903 non-null   float64
 5   Estimate!!Total:!!Built 2000 to 2019            1903 non-null   float64
 6   Margin of Error!!Total:!!Built 2000 to 2019     1903 non-null   float64
 7   Estimate!!Total:!!Built 1980 to 1999            1903 non-null   float64
 8   Margin of Error!!Total:!!Built 1980 to 1999     1903 non-null   float64
 9   Estimate!!Total:!!Built 1960 to 1979            1903 non-null   float64
 10  Margin of Error!!Total:!!Built 1960 to 1979     1903 non-null   float64
 11  Estimate!!Total:!!Built 1940 to 1959            1903 non-null   float64
 12  Margin of Error!!Total:!!Built 1940 to 1959     1903 non-null   float64
 13  Estimate!!Total:!!Built 1939 or earlier         1903 non-null   float64
 14  Margin of Error!!Total:!!Built 1939 or earlier  1903 non-null   float64
dtypes: float64(14), object(1)
memory usage: 223.3+ KB

,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Built 2020 or later,Margin of Error!!Total:!!Built 2020 or later,Estimate!!Total:!!Built 2000 to 2019,Margin of Error!!Total:!!Built 2000 to 2019,Estimate!!Total:!!Built 1980 to 1999,Margin of Error!!Total:!!Built 1980 to 1999,Estimate!!Total:!!Built 1960 to 1979,Margin of Error!!Total:!!Built 1960 to 1979,Estimate!!Total:!!Built 1940 to 1959,Margin of Error!!Total:!!Built 1940 to 1959,Estimate!!Total:!!Built 1939 or earlier,Margin of Error!!Total:!!Built 1939 or earlier
0,"Autauga County, Alabama",24775.0,211.0,470.0,620.0,8641.0,1489.0,5789.0,1431.0,7686.0,1258.0,1445.0,604.0,744.0,463.0
1,"Baldwin County, Alabama",128533.0,889.0,2146.0,1029.0,59229.0,4203.0,40792.0,3688.0,20147.0,2994.0,3924.0,1064.0,2295.0,913.0
2,"Barbour County, Alabama",11677.0,393.0,0.0,216.0,1997.0,559.0,4673.0,743.0,2962.0,782.0,1223.0,404.0,822.0,371.0
3,"Bibb County, Alabama",10465.0,1205.0,0.0,216.0,2816.0,874.0,3956.0,1233.0,2375.0,949.0,633.0,532.0,685.0,462.0
4,"Blount County, Alabama",24749.0,126.0,89.0,99.0,6736.0,1161.0,9101.0,1319.0,5477.0,1094.0,2292.0,793.0,1054.0,504.0

In [158]:
house_plumbing_df.info()
house_plumbing_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 7 columns):
 #   Column                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                           --------------  -----
 0   Geographic Area Name                                                                                             3221 non-null   object
 1   Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities                  3221 non-null   float64
 2   Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities  3221 non-null   float64
 3   Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities                   3221 non-null   float64
 4   Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities   3221 non-null   float64
 5   Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available                        3221 non-null   object
 6   Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available        3221 non-null   object
dtypes: float64(4), object(3)
memory usage: 176.3+ KB

,Geographic Area Name,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities,Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities,Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available,Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available
0,"Autauga County, Alabama",0.5,0.4,0.7,0.6,0.6,0.3
1,"Baldwin County, Alabama",0.3,0.2,0.7,0.3,1.2,0.4
2,"Barbour County, Alabama",0.2,0.2,0.6,0.4,5,1.6
3,"Bibb County, Alabama",0.7,0.7,1.6,1.1,2.7,1.5
4,"Blount County, Alabama",0.6,0.5,0.8,0.7,1.8,0.5

In [159]:
house_price_df.info()
house_price_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3221 entries, 0 to 3220
Data columns (total 58 columns):
 #   Column                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                           --------------  -----
 0   Geographic Area Name                                                                                                                                                                             3221 non-null   object
 1   Estimate!!HOUSING OCCUPANCY!!Total housing units                                                                                                                                                 3221 non-null   int64
 2   Percent!!VALUE!!Owner-occupied units                                                                                                                                                             3221 non-null   int64
 3   Percent!!VALUE!!Owner-occupied units!!Less than $50,000                                                                                                                                          3221 non-null   object
 4   Percent!!VALUE!!Owner-occupied units!!$50,000 to $99,999                                                                                                                                         3221 non-null   object
 5   Percent!!VALUE!!Owner-occupied units!!$100,000 to $149,999                                                                                                                                       3221 non-null   object
 6   Percent!!VALUE!!Owner-occupied units!!$150,000 to $199,999                                                                                                                                       3221 non-null   object
 7   Percent!!VALUE!!Owner-occupied units!!$200,000 to $299,999                                                                                                                                       3221 non-null   object
 8   Percent!!VALUE!!Owner-occupied units!!$300,000 to $499,999                                                                                                                                       3221 non-null   object
 9   Percent!!VALUE!!Owner-occupied units!!$500,000 to $999,999                                                                                                                                       3221 non-null   object
 10  Percent!!VALUE!!Owner-occupied units!!$1,000,000 or more                                                                                                                                         3221 non-null   object
 11  Percent!!MORTGAGE STATUS!!Owner-occupied units                                                                                                                                                   3221 non-null   int64
 12  Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units with a mortgage                                                                                                                    3221 non-null   object
 13  Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units without a mortgage                                                                                                                 3221 non-null   object
 14  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage                                                                                                                      3221 non-null   int64
 15  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!Less than $500                                                                                                      3221 non-null   object
 16  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$500 to $999                                                                                                        3221 non-null   object
 17  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$1,000 to $1,499                                                                                                    3221 non-null   object
 18  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$1,500 to $1,999                                                                                                    3221 non-null   object
 19  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$2,000 to $2,499                                                                                                    3221 non-null   object
 20  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$2,500 to $2,999                                                                                                    3221 non-null   object
 21  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$3,000 or more                                                                                                      3221 non-null   object
 22  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage                                                                                                                   3221 non-null   int64
 23  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!Less than $250                                                                                                   3221 non-null   object
 24  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$250 to $399                                                                                                     3221 non-null   object
 25  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$400 to $599                                                                                                     3221 non-null   object
 26  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$600 to $799                                                                                                     3221 non-null   object
 27  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$800 to $999                                                                                                     3221 non-null   object
 28  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$1,000 or more                                                                                                   3221 non-null   object
 29  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)                            3221 non-null   int64
 30  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!Less than 20.0 percent    3221 non-null   object
 31  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!20.0 to 24.9 percent      3221 non-null   object
 32  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!25.0 to 29.9 percent      3221 non-null   object
 33  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!30.0 to 34.9 percent      3221 non-null   object
 34  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!35.0 percent or more      3221 non-null   object
 35  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)                          3221 non-null   int64
 36  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!Less than 10.0 percent  3221 non-null   object
 37  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!10.0 to 14.9 percent    3221 non-null   object
 38  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!15.0 to 19.9 percent    3221 non-null   object
 39  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!20.0 to 24.9 percent    3221 non-null   object
 40  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!25.0 to 29.9 percent    3221 non-null   object
 41  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!30.0 to 34.9 percent    3221 non-null   object
 42  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!35.0 percent or more    3221 non-null   object
 43  Percent!!GROSS RENT!!Occupied units paying rent                                                                                                                                                  3221 non-null   int64
 44  Percent!!GROSS RENT!!Occupied units paying rent!!Less than $500                                                                                                                                  3221 non-null   float64
 45  Percent!!GROSS RENT!!Occupied units paying rent!!$500 to $999                                                                                                                                    3221 non-null   float64
 46  Percent!!GROSS RENT!!Occupied units paying rent!!$1,000 to $1,499                                                                                                                                3221 non-null   float64
 47  Percent!!GROSS RENT!!Occupied units paying rent!!$1,500 to $1,999                                                                                                                                3221 non-null   float64
 48  Percent!!GROSS RENT!!Occupied units paying rent!!$2,000 to $2,499                                                                                                                                3221 non-null   float64
 49  Percent!!GROSS RENT!!Occupied units paying rent!!$2,500 to $2,999                                                                                                                                3221 non-null   float64
 50  Percent!!GROSS RENT!!Occupied units paying rent!!$3,000 or more                                                                                                                                  3221 non-null   float64
 51  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)                                                     3221 non-null   int64
 52  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Less than 15.0 percent                             3221 non-null   float64
 53  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!15.0 to 19.9 percent                               3221 non-null   float64
 54  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!20.0 to 24.9 percent                               3221 non-null   float64
 55  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent                               3221 non-null   float64
 56  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent                               3221 non-null   float64
 57  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more                               3221 non-null   float64
dtypes: float64(13), int64(9), object(36)
memory usage: 1.4+ MB

,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Percent!!VALUE!!Owner-occupied units,"Percent!!VALUE!!Owner-occupied units!!Less than $50,000","Percent!!VALUE!!Owner-occupied units!!$50,000 to $99,999","Percent!!VALUE!!Owner-occupied units!!$100,000 to $149,999","Percent!!VALUE!!Owner-occupied units!!$150,000 to $199,999","Percent!!VALUE!!Owner-occupied units!!$200,000 to $299,999","Percent!!VALUE!!Owner-occupied units!!$300,000 to $499,999","Percent!!VALUE!!Owner-occupied units!!$500,000 to $999,999",...,"Percent!!GROSS RENT!!Occupied units paying rent!!$2,000 to $2,499","Percent!!GROSS RENT!!Occupied units paying rent!!$2,500 to $2,999","Percent!!GROSS RENT!!Occupied units paying rent!!$3,000 or more",Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed),Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Less than 15.0 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!15.0 to 19.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!20.0 to 24.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more
0,"Autauga County, Alabama",24170,16227,12.3,16,15.4,18.8,22.4,12.5,2.5,...,2.4,0.6,2.5,4814,16.8,11.4,20.2,16.9,3.6,31.0
1,"Baldwin County, Alabama",121763,67242,5.5,7.5,11.5,17.7,24.6,21.7,9.1,...,3.1,0.5,1.0,17291,12.9,12.9,16.7,9.6,10.5,37.3
2,"Barbour County, Alabama",11667,5654,28.5,24.6,15.9,11.9,9.4,6.4,2.8,...,0.4,0.0,0.0,2807,14.4,17.7,16.2,9.4,7.1,35.2
3,"Bibb County, Alabama",9013,5580,22.2,26.6,17.3,13.3,13.1,5.9,0.3,...,0.0,0.0,0.0,1187,24.8,1.7,17.4,7.6,1.5,47.1
4,"Blount County, Alabama",24527,16865,13.4,21.4,19.6,15.4,18,9,2.7,...,0.7,0.0,0.2,3385,16.9,16.1,12.3,9.8,7.0,37.9

- 'house_price_df' and 'house_plumbing_df' are percent but 'house_built_year_df' is not. normalize required

**Normarlize house_built_year_df to merge**

In [160]:
## clean the column names
house_built_year_df.columns = house_built_year_df.columns.str.strip()
house_plumbing_df.columns = house_plumbing_df.columns.str.strip()
house_price_df.columns = house_price_df.columns.str.strip()

In [161]:
house_built_year_df.shape

(1904, 15)

In [162]:
def normalize_df(df):
    total_col = "Estimate!!Total:"
    df[total_col] = pd.to_numeric(df[total_col], errors='coerce')
    
    for col in df.columns:
        if col.startswith("Estimate!!Total:") and col != total_col:
            df[col] = pd.to_numeric(df[col], errors='coerce') / df[total_col]
            
    df = df.drop(columns=["Estimate!!Total:"], errors="ignore")
    
    return df

In [163]:
normalized_house_built_year_df = normalize_df(house_built_year_df)
normalized_house_built_year_df.head()

,Geographic Area Name,Margin of Error!!Total:,Estimate!!Total:!!Built 2020 or later,Margin of Error!!Total:!!Built 2020 or later,Estimate!!Total:!!Built 2000 to 2019,Margin of Error!!Total:!!Built 2000 to 2019,Estimate!!Total:!!Built 1980 to 1999,Margin of Error!!Total:!!Built 1980 to 1999,Estimate!!Total:!!Built 1960 to 1979,Margin of Error!!Total:!!Built 1960 to 1979,Estimate!!Total:!!Built 1940 to 1959,Margin of Error!!Total:!!Built 1940 to 1959,Estimate!!Total:!!Built 1939 or earlier,Margin of Error!!Total:!!Built 1939 or earlier
0,"Autauga County, Alabama",211.0,0.018971,620.0,0.348779,1489.0,0.233663,1431.0,0.310232,1258.0,0.058325,604.0,0.030030,463.0
1,"Baldwin County, Alabama",889.0,0.016696,1029.0,0.460808,4203.0,0.317366,3688.0,0.156746,2994.0,0.030529,1064.0,0.017855,913.0
2,"Barbour County, Alabama",393.0,0.000000,216.0,0.171020,559.0,0.400188,743.0,0.253661,782.0,0.104736,404.0,0.070395,371.0
3,"Bibb County, Alabama",1205.0,0.000000,216.0,0.269087,874.0,0.378022,1233.0,0.226947,949.0,0.060487,532.0,0.065456,462.0
4,"Blount County, Alabama",126.0,0.003596,99.0,0.272173,1161.0,0.367732,1319.0,0.221302,1094.0,0.092610,793.0,0.042588,504.0

In [164]:
normalized_house_built_year_df.shape

(1904, 14)

**Merge data by 'Geographic Area Name'**

In [165]:
merged_house_df = normalized_house_built_year_df.merge(house_plumbing_df, on="Geographic Area Name", how="inner") \
                              .merge(house_price_df, on="Geographic Area Name", how="inner")


merged_house_df.head()

,Geographic Area Name,Margin of Error!!Total:,Estimate!!Total:!!Built 2020 or later,Margin of Error!!Total:!!Built 2020 or later,Estimate!!Total:!!Built 2000 to 2019,Margin of Error!!Total:!!Built 2000 to 2019,Estimate!!Total:!!Built 1980 to 1999,Margin of Error!!Total:!!Built 1980 to 1999,Estimate!!Total:!!Built 1960 to 1979,Margin of Error!!Total:!!Built 1960 to 1979,...,"Percent!!GROSS RENT!!Occupied units paying rent!!$2,000 to $2,499","Percent!!GROSS RENT!!Occupied units paying rent!!$2,500 to $2,999","Percent!!GROSS RENT!!Occupied units paying rent!!$3,000 or more",Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed),Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Less than 15.0 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!15.0 to 19.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!20.0 to 24.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more
0,"Autauga County, Alabama",211.0,0.018971,620.0,0.348779,1489.0,0.233663,1431.0,0.310232,1258.0,...,2.4,0.6,2.5,4814,16.8,11.4,20.2,16.9,3.6,31.0
1,"Baldwin County, Alabama",889.0,0.016696,1029.0,0.460808,4203.0,0.317366,3688.0,0.156746,2994.0,...,3.1,0.5,1.0,17291,12.9,12.9,16.7,9.6,10.5,37.3
2,"Barbour County, Alabama",393.0,0.000000,216.0,0.171020,559.0,0.400188,743.0,0.253661,782.0,...,0.4,0.0,0.0,2807,14.4,17.7,16.2,9.4,7.1,35.2
3,"Bibb County, Alabama",1205.0,0.000000,216.0,0.269087,874.0,0.378022,1233.0,0.226947,949.0,...,0.0,0.0,0.0,1187,24.8,1.7,17.4,7.6,1.5,47.1
4,"Blount County, Alabama",126.0,0.003596,99.0,0.272173,1161.0,0.367732,1319.0,0.221302,1094.0,...,0.7,0.0,0.2,3385,16.9,16.1,12.3,9.8,7.0,37.9

In [166]:
merged_house_df.shape

(1904, 77)

**Drop the margin of error_colums**

In [167]:
def drop_margin_of_error_columns(df):
    return df.drop(columns=[col for col in df.columns if col.startswith("Margin of Error")], errors='ignore')

In [168]:
cleaned_house_df = drop_margin_of_error_columns(merged_house_df)

cleaned_house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 70 columns):
 #   Column                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                           --------------  -----
 0   Geographic Area Name                                                                                                                                                                             1904 non-null   object
 1   Estimate!!Total:!!Built 2020 or later                                                                                                                                                            1903 non-null   float64
 2   Estimate!!Total:!!Built 2000 to 2019                                                                                                                                                             1903 non-null   float64
 3   Estimate!!Total:!!Built 1980 to 1999                                                                                                                                                             1903 non-null   float64
 4   Estimate!!Total:!!Built 1960 to 1979                                                                                                                                                             1903 non-null   float64
 5   Estimate!!Total:!!Built 1940 to 1959                                                                                                                                                             1903 non-null   float64
 6   Estimate!!Total:!!Built 1939 or earlier                                                                                                                                                          1903 non-null   float64
 7   Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities                                                                                                  1904 non-null   float64
 8   Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities                                                                                  1904 non-null   float64
 9   Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities                                                                                                   1904 non-null   float64
 10  Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete kitchen facilities                                                                                   1904 non-null   float64
 11  Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available                                                                                                        1904 non-null   object
 12  Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!No telephone service available                                                                                        1904 non-null   object
 13  Estimate!!HOUSING OCCUPANCY!!Total housing units                                                                                                                                                 1904 non-null   int64
 14  Percent!!VALUE!!Owner-occupied units                                                                                                                                                             1904 non-null   int64
 15  Percent!!VALUE!!Owner-occupied units!!Less than $50,000                                                                                                                                          1904 non-null   object
 16  Percent!!VALUE!!Owner-occupied units!!$50,000 to $99,999                                                                                                                                         1904 non-null   object
 17  Percent!!VALUE!!Owner-occupied units!!$100,000 to $149,999                                                                                                                                       1904 non-null   object
 18  Percent!!VALUE!!Owner-occupied units!!$150,000 to $199,999                                                                                                                                       1904 non-null   object
 19  Percent!!VALUE!!Owner-occupied units!!$200,000 to $299,999                                                                                                                                       1904 non-null   object
 20  Percent!!VALUE!!Owner-occupied units!!$300,000 to $499,999                                                                                                                                       1904 non-null   object
 21  Percent!!VALUE!!Owner-occupied units!!$500,000 to $999,999                                                                                                                                       1904 non-null   object
 22  Percent!!VALUE!!Owner-occupied units!!$1,000,000 or more                                                                                                                                         1904 non-null   object
 23  Percent!!MORTGAGE STATUS!!Owner-occupied units                                                                                                                                                   1904 non-null   int64
 24  Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units with a mortgage                                                                                                                    1904 non-null   object
 25  Percent!!MORTGAGE STATUS!!Owner-occupied units!!Housing units without a mortgage                                                                                                                 1904 non-null   object
 26  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage                                                                                                                      1904 non-null   int64
 27  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!Less than $500                                                                                                      1904 non-null   object
 28  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$500 to $999                                                                                                        1904 non-null   object
 29  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$1,000 to $1,499                                                                                                    1904 non-null   object
 30  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$1,500 to $1,999                                                                                                    1904 non-null   object
 31  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$2,000 to $2,499                                                                                                    1904 non-null   object
 32  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$2,500 to $2,999                                                                                                    1904 non-null   object
 33  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units with a mortgage!!$3,000 or more                                                                                                      1904 non-null   object
 34  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage                                                                                                                   1904 non-null   int64
 35  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!Less than $250                                                                                                   1904 non-null   object
 36  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$250 to $399                                                                                                     1904 non-null   object
 37  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$400 to $599                                                                                                     1904 non-null   object
 38  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$600 to $799                                                                                                     1904 non-null   object
 39  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$800 to $999                                                                                                     1904 non-null   object
 40  Percent!!SELECTED MONTHLY OWNER COSTS (SMOC)!!Housing units without a mortgage!!$1,000 or more                                                                                                   1904 non-null   object
 41  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)                            1904 non-null   int64
 42  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!Less than 20.0 percent    1904 non-null   object
 43  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!20.0 to 24.9 percent      1904 non-null   object
 44  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!25.0 to 29.9 percent      1904 non-null   object
 45  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!30.0 to 34.9 percent      1904 non-null   object
 46  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing units with a mortgage (excluding units where SMOCAPI cannot be computed)!!35.0 percent or more      1904 non-null   object
 47  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)                          1904 non-null   int64
 48  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!Less than 10.0 percent  1904 non-null   object
 49  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!10.0 to 14.9 percent    1904 non-null   object
 50  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!15.0 to 19.9 percent    1904 non-null   object
 51  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!20.0 to 24.9 percent    1904 non-null   object
 52  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!25.0 to 29.9 percent    1904 non-null   object
 53  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!30.0 to 34.9 percent    1904 non-null   object
 54  Percent!!SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)!!Housing unit without a mortgage (excluding units where SMOCAPI cannot be computed)!!35.0 percent or more    1904 non-null   object
 55  Percent!!GROSS RENT!!Occupied units paying rent                                                                                                                                                  1904 non-null   int64
 56  Percent!!GROSS RENT!!Occupied units paying rent!!Less than $500                                                                                                                                  1904 non-null   float64
 57  Percent!!GROSS RENT!!Occupied units paying rent!!$500 to $999                                                                                                                                    1904 non-null   float64
 58  Percent!!GROSS RENT!!Occupied units paying rent!!$1,000 to $1,499                                                                                                                                1904 non-null   float64
 59  Percent!!GROSS RENT!!Occupied units paying rent!!$1,500 to $1,999                                                                                                                                1904 non-null   float64
 60  Percent!!GROSS RENT!!Occupied units paying rent!!$2,000 to $2,499                                                                                                                                1904 non-null   float64
 61  Percent!!GROSS RENT!!Occupied units paying rent!!$2,500 to $2,999                                                                                                                                1904 non-null   float64
 62  Percent!!GROSS RENT!!Occupied units paying rent!!$3,000 or more                                                                                                                                  1904 non-null   float64
 63  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)                                                     1904 non-null   int64
 64  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Less than 15.0 percent                             1904 non-null   float64
 65  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!15.0 to 19.9 percent                               1904 non-null   float64
 66  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!20.0 to 24.9 percent                               1904 non-null   float64
 67  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent                               1904 non-null   float64
 68  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent                               1904 non-null   float64
 69  Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more                               1904 non-null   float64
dtypes: float64(23), int64(9), object(38)
memory usage: 1.0+ MB

### 2) Insurance

In [169]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 21 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Geographic Area Name                                                         1905 non-null   object
 1   Estimate!!Total:                                                             1905 non-null   int64
 2   Margin of Error!!Total:                                                      1905 non-null   int64
 3   Estimate!!Total:!!Under 19 years:                                            1905 non-null   int64
 4   Margin of Error!!Total:!!Under 19 years:                                     1905 non-null   int64
 5   Estimate!!Total:!!Under 19 years:!!With health insurance coverage            1905 non-null   int64
 6   Margin of Error!!Total:!!Under 19 years:!!With health insurance coverage     1905 non-null   int64
 7   Estimate!!Total:!!Under 19 years:!!No health insurance coverage              1905 non-null   int64
 8   Margin of Error!!Total:!!Under 19 years:!!No health insurance coverage       1905 non-null   int64
 9   Estimate!!Total:!!19 to 64 years:                                            1905 non-null   int64
 10  Margin of Error!!Total:!!19 to 64 years:                                     1905 non-null   int64
 11  Estimate!!Total:!!19 to 64 years:!!With health insurance coverage            1905 non-null   int64
 12  Margin of Error!!Total:!!19 to 64 years:!!With health insurance coverage     1905 non-null   int64
 13  Estimate!!Total:!!19 to 64 years:!!No health insurance coverage              1905 non-null   int64
 14  Margin of Error!!Total:!!19 to 64 years:!!No health insurance coverage       1905 non-null   int64
 15  Estimate!!Total:!!65 years and over:                                         1905 non-null   int64
 16  Margin of Error!!Total:!!65 years and over:                                  1905 non-null   int64
 17  Estimate!!Total:!!65 years and over:!!With health insurance coverage         1905 non-null   int64
 18  Margin of Error!!Total:!!65 years and over:!!With health insurance coverage  1905 non-null   int64
 19  Estimate!!Total:!!65 years and over:!!No health insurance coverage           1905 non-null   int64
 20  Margin of Error!!Total:!!65 years and over:!!No health insurance coverage    1905 non-null   int64
dtypes: int64(20), object(1)
memory usage: 312.7+ KB

In [170]:
insurance_df.head()

,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Under 19 years:,Margin of Error!!Total:!!Under 19 years:,Estimate!!Total:!!Under 19 years:!!With health insurance coverage,Margin of Error!!Total:!!Under 19 years:!!With health insurance coverage,Estimate!!Total:!!Under 19 years:!!No health insurance coverage,Margin of Error!!Total:!!Under 19 years:!!No health insurance coverage,Estimate!!Total:!!19 to 64 years:,...,Estimate!!Total:!!19 to 64 years:!!With health insurance coverage,Margin of Error!!Total:!!19 to 64 years:!!With health insurance coverage,Estimate!!Total:!!19 to 64 years:!!No health insurance coverage,Margin of Error!!Total:!!19 to 64 years:!!No health insurance coverage,Estimate!!Total:!!65 years and over:,Margin of Error!!Total:!!65 years and over:,Estimate!!Total:!!65 years and over:!!With health insurance coverage,Margin of Error!!Total:!!65 years and over:!!With health insurance coverage,Estimate!!Total:!!65 years and over:!!No health insurance coverage,Margin of Error!!Total:!!65 years and over:!!No health insurance coverage
0,"Autauga County, Alabama",56855,1194,14580,770,14169,743,411,333,33031,...,29728,1781,3303,1317,9244,499,9184,517,60,102
1,"Baldwin County, Alabama",235756,2108,52496,1056,49496,1488,3000,1270,132966,...,115945,3431,17021,2775,50294,1384,49522,1018,772,1034
2,"Barbour County, Alabama",21787,946,5563,427,5548,445,15,38,11783,...,10368,1069,1415,651,4441,449,4441,449,0,216
3,"Bibb County, Alabama",21544,1444,4365,754,4232,777,133,211,13170,...,11940,1346,1230,711,4009,1106,4009,1106,0,216
4,"Blount County, Alabama",58690,266,14112,389,13838,488,274,248,34088,...,28940,1262,5148,1233,10490,270,10490,270,0,216

**Clean the column name**

In [171]:
insurance_df.columns = insurance_df.columns.str.strip()

**Drop the margin of error**

In [172]:
insurance_cleaned_df = drop_margin_of_error_columns(insurance_df)
insurance_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 11 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Geographic Area Name                                                  1905 non-null   object
 1   Estimate!!Total:                                                      1905 non-null   int64
 2   Estimate!!Total:!!Under 19 years:                                     1905 non-null   int64
 3   Estimate!!Total:!!Under 19 years:!!With health insurance coverage     1905 non-null   int64
 4   Estimate!!Total:!!Under 19 years:!!No health insurance coverage       1905 non-null   int64
 5   Estimate!!Total:!!19 to 64 years:                                     1905 non-null   int64
 6   Estimate!!Total:!!19 to 64 years:!!With health insurance coverage     1905 non-null   int64
 7   Estimate!!Total:!!19 to 64 years:!!No health insurance coverage       1905 non-null   int64
 8   Estimate!!Total:!!65 years and over:                                  1905 non-null   int64
 9   Estimate!!Total:!!65 years and over:!!With health insurance coverage  1905 non-null   int64
 10  Estimate!!Total:!!65 years and over:!!No health insurance coverage    1905 non-null   int64
dtypes: int64(10), object(1)
memory usage: 163.8+ KB

**Normalize the data**

In [173]:
cleaned_insurance_df = normalize_df(insurance_cleaned_df)

In [174]:
cleaned_insurance_df.head()

,Geographic Area Name,Estimate!!Total:!!Under 19 years:,Estimate!!Total:!!Under 19 years:!!With health insurance coverage,Estimate!!Total:!!Under 19 years:!!No health insurance coverage,Estimate!!Total:!!19 to 64 years:,Estimate!!Total:!!19 to 64 years:!!With health insurance coverage,Estimate!!Total:!!19 to 64 years:!!No health insurance coverage,Estimate!!Total:!!65 years and over:,Estimate!!Total:!!65 years and over:!!With health insurance coverage,Estimate!!Total:!!65 years and over:!!No health insurance coverage
0,"Autauga County, Alabama",0.256442,0.249213,0.007229,0.580969,0.522874,0.058095,0.162589,0.161534,0.001055
1,"Baldwin County, Alabama",0.222671,0.209946,0.012725,0.563998,0.491801,0.072198,0.213331,0.210056,0.003275
2,"Barbour County, Alabama",0.255336,0.254647,0.000688,0.540827,0.475880,0.064947,0.203837,0.203837,0.000000
3,"Bibb County, Alabama",0.202609,0.196435,0.006173,0.611307,0.554215,0.057092,0.186084,0.186084,0.000000
4,"Blount County, Alabama",0.240450,0.235781,0.004669,0.580814,0.493099,0.087715,0.178736,0.178736,0.000000

### 3) Child poverty

In [175]:
poverty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 19 columns):
 #   Column                                                                                               Non-Null Count  Dtype
---  ------                                                                                               --------------  -----
 0   Geographic Area Name                                                                                 1904 non-null   object
 1   Estimate!!Total:                                                                                     1904 non-null   int64
 2   Margin of Error!!Total:                                                                              1904 non-null   int64
 3   Estimate!!Total:!!Income in the past 12 months below poverty level:                                  1904 non-null   int64
 4   Margin of Error!!Total:!!Income in the past 12 months below poverty level:                           1904 non-null   int64
 5   Estimate!!Total:!!Income in the past 12 months below poverty level:!!Under 18 years                  1904 non-null   int64
 6   Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!Under 18 years           1904 non-null   int64
 7   Estimate!!Total:!!Income in the past 12 months below poverty level:!!18 to 64 years                  1904 non-null   int64
 8   Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!18 to 64 years           1904 non-null   int64
 9   Estimate!!Total:!!Income in the past 12 months below poverty level:!!65 years and over               1904 non-null   int64
 10  Margin of Error!!Total:!!Income in the past 12 months below poverty level:!!65 years and over        1904 non-null   int64
 11  Estimate!!Total:!!Income in the past 12 months at or above poverty level:                            1904 non-null   int64
 12  Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:                     1904 non-null   int64
 13  Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Under 18 years            1904 non-null   int64
 14  Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!Under 18 years     1904 non-null   int64
 15  Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!18 to 64 years            1904 non-null   int64
 16  Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!18 to 64 years     1904 non-null   int64
 17  Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!65 years and over         1904 non-null   int64
 18  Margin of Error!!Total:!!Income in the past 12 months at or above poverty level:!!65 years and over  1904 non-null   int64
dtypes: int64(18), object(1)
memory usage: 282.8+ KB

In [176]:
poverty_df.columns =  poverty_df.columns.str.strip()

# drop the margin error
poverty_df = drop_margin_of_error_columns(poverty_df)

# normalize
cleaned_poverty_df = normalize_df(poverty_df)

cleaned_poverty_df.head()

,Geographic Area Name,Estimate!!Total:!!Income in the past 12 months below poverty level:,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Under 18 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!18 to 64 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!65 years and over,Estimate!!Total:!!Income in the past 12 months at or above poverty level:,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Under 18 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!18 to 64 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!65 years and over
0,"Autauga County, Alabama",0.062251,0.013788,0.042303,0.006160,0.937749,0.218426,0.567738,0.151584
1,"Baldwin County, Alabama",0.107568,0.036675,0.059861,0.011033,0.892432,0.174124,0.515682,0.202625
2,"Barbour County, Alabama",0.120990,0.035159,0.069537,0.016294,0.879010,0.200303,0.491164,0.187543
3,"Bibb County, Alabama",0.203955,0.088238,0.112653,0.003063,0.796045,0.111586,0.501439,0.183021
4,"Blount County, Alabama",0.100099,0.024665,0.061071,0.014364,0.899901,0.202324,0.532138,0.165438

### 4) Housing insecurity(rented vs owned)

In [177]:
insecurity_df.head()

,Label (Grouping),Total:,Total:!!Owner occupied,Total:!!Renter occupied
0,"Baldwin County, Alabama",NaN,NaN,NaN
1,Estimate,"94,105","71,380","22,725"
2,"Calhoun County, Alabama",NaN,NaN,NaN
3,Estimate,"44,631","32,470","12,161"
4,"Cullman County, Alabama",NaN,NaN,NaN

- Data stored in Estimate label, we need to match the couty name and data.

In [178]:
insecurity_df.columns = insecurity_df.columns.str.strip()
insecurity_fillna_df = insecurity_df.fillna(method="bfill")

/var/folders/6z/x70pqn912y166ykwnf1ltz2m0000gn/T/ipykernel_30947/2269270540.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  insecurity_fillna_df = insecurity_df.fillna(method="bfill")

In [179]:
 insecurity_fillna_df.head()

,Label (Grouping),Total:,Total:!!Owner occupied,Total:!!Renter occupied
0,"Baldwin County, Alabama","94,105","71,380","22,725"
1,Estimate,"94,105","71,380","22,725"
2,"Calhoun County, Alabama","44,631","32,470","12,161"
3,Estimate,"44,631","32,470","12,161"
4,"Cullman County, Alabama","35,131","26,688","8,443"

In [180]:
insecurity_fillna_df.tail()

,Label (Grouping),Total:,Total:!!Owner occupied,Total:!!Renter occupied
1675,Estimate,"135,865","70,013","65,852"
1676,"Toa Alta Municipio, Puerto Rico","20,918","17,421","3,497"
1677,Estimate,"20,918","17,421","3,497"
1678,"Toa Baja Municipio, Puerto Rico","28,276","20,613","7,663"
1679,Estimate,"28,276","20,613","7,663"

In [181]:
insecurity_drop_est_df = insecurity_fillna_df[insecurity_fillna_df["Label (Grouping)"].str.strip().str.lower() != "estimate"]
insecurity_drop_est_df = insecurity_drop_est_df.rename(columns={"Label (Grouping)": "Geographic Area Name"})

insecurity_drop_est_df.head()

,Geographic Area Name,Total:,Total:!!Owner occupied,Total:!!Renter occupied
0,"Baldwin County, Alabama","94,105","71,380","22,725"
2,"Calhoun County, Alabama","44,631","32,470","12,161"
4,"Cullman County, Alabama","35,131","26,688","8,443"
6,"DeKalb County, Alabama","24,979","19,663","5,316"
8,"Elmore County, Alabama","32,108","22,990","9,118"

In [182]:
df_numeric = insecurity_drop_est_df.copy()

for col in df_numeric.columns[1:]:  
    df_numeric[col] = df_numeric[col].astype(str).str.replace(",", "").str.strip() 
    df_numeric[col] = pd.to_numeric(df_numeric[col], errors='coerce')


for col in df_numeric.columns[2:]:  
    df_numeric[col] = df_numeric[col] / df_numeric["Total:"]

df_normalized = df_numeric.drop(columns=["Total:"])

df_normalized.head()

      Geographic Area Name  Total:!!Owner occupied  Total:!!Renter occupied
0  Baldwin County, Alabama                0.758514                 0.241486
2  Calhoun County, Alabama                0.727521                 0.272479
4  Cullman County, Alabama                0.759671                 0.240329
6   DeKalb County, Alabama                0.787181                 0.212819
8   Elmore County, Alabama                0.716021                 0.283979

In [183]:
cleaned_insecurity_df = df_normalized

### 5) Parent's Occupation

In [184]:
print(occupation_df.shape)
occupation_df.head()

(1904, 13)

,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Management, business, science, and arts occupations","Margin of Error!!Total:!!Management, business, science, and arts occupations",Estimate!!Total:!!Service occupations,Margin of Error!!Total:!!Service occupations,Estimate!!Total:!!Sales and office occupations,Margin of Error!!Total:!!Sales and office occupations,"Estimate!!Total:!!Natural resources, construction, and maintenance occupations","Margin of Error!!Total:!!Natural resources, construction, and maintenance occupations","Estimate!!Total:!!Production, transportation, and material moving occupations","Margin of Error!!Total:!!Production, transportation, and material moving occupations"
0,"Autauga County, Alabama",26405,2208,7355,1541,3913,1061,7157,1400,3143,1143,4837,1064
1,"Baldwin County, Alabama",110347,4579,40689,3375,18103,3162,26503,3506,9963,2611,15089,3038
2,"Barbour County, Alabama",9848,1107,2525,760,1643,771,2474,869,1187,504,2019,709
3,"Bibb County, Alabama",7153,1331,2052,779,1196,753,940,640,1701,650,1264,538
4,"Blount County, Alabama",25646,1601,6924,1490,3842,1517,5734,1255,5073,1053,4073,1210

In [185]:
print(industry_df.shape)
industry_df.head()

(1904, 29)

,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,"Estimate!!Total:!!Agriculture, forestry, fishing and hunting, and mining","Margin of Error!!Total:!!Agriculture, forestry, fishing and hunting, and mining",Estimate!!Total:!!Construction,Margin of Error!!Total:!!Construction,Estimate!!Total:!!Manufacturing,Margin of Error!!Total:!!Manufacturing,Estimate!!Total:!!Wholesale trade,...,"Estimate!!Total:!!Professional, scientific, and management, and administrative and waste management services","Margin of Error!!Total:!!Professional, scientific, and management, and administrative and waste management services","Estimate!!Total:!!Educational services, and health care and social assistance","Margin of Error!!Total:!!Educational services, and health care and social assistance","Estimate!!Total:!!Arts, entertainment, and recreation, and accommodation and food services","Margin of Error!!Total:!!Arts, entertainment, and recreation, and accommodation and food services","Estimate!!Total:!!Other services, except public administration","Margin of Error!!Total:!!Other services, except public administration",Estimate!!Total:!!Public administration,Margin of Error!!Total:!!Public administration
0,"Autauga County, Alabama",26405.0,2208.0,294.0,302.0,1701.0,811.0,3981.0,1139.0,305.0,...,2188.0,1324.0,5463.0,1358.0,2575.0,930.0,1180.0,580.0,1948.0,828.0
1,"Baldwin County, Alabama",110347.0,4579.0,856.0,628.0,10194.0,2535.0,8893.0,1926.0,2664.0,...,14185.0,3460.0,21659.0,3540.0,11201.0,2691.0,5536.0,1781.0,5488.0,1853.0
2,"Barbour County, Alabama",9848.0,1107.0,429.0,278.0,223.0,184.0,2390.0,775.0,127.0,...,470.0,326.0,1737.0,619.0,886.0,480.0,519.0,326.0,433.0,281.0
3,"Bibb County, Alabama",7153.0,1331.0,212.0,291.0,1023.0,592.0,797.0,479.0,257.0,...,324.0,224.0,1104.0,478.0,126.0,215.0,329.0,314.0,907.0,594.0
4,"Blount County, Alabama",25646.0,1601.0,593.0,365.0,3771.0,1057.0,4285.0,1337.0,443.0,...,3047.0,1053.0,4858.0,1100.0,1045.0,648.0,837.0,558.0,1078.0,545.0

In [186]:
occupation_df.columns = occupation_df.columns.str.strip()
industry_df.columns = industry_df.columns.str.strip()

In [187]:
occupation_drop_est_df = drop_margin_of_error_columns(occupation_df)
industry_drop_est_df = drop_margin_of_error_columns(industry_df)

In [188]:
normalized_occupation_df = normalize_df(occupation_drop_est_df)
normalized_industry_df = normalize_df(industry_drop_est_df)

In [189]:
normalized_occupation_df.head()

,Geographic Area Name,"Estimate!!Total:!!Management, business, science, and arts occupations",Estimate!!Total:!!Service occupations,Estimate!!Total:!!Sales and office occupations,"Estimate!!Total:!!Natural resources, construction, and maintenance occupations","Estimate!!Total:!!Production, transportation, and material moving occupations"
0,"Autauga County, Alabama",0.278546,0.148192,0.271047,0.119030,0.183185
1,"Baldwin County, Alabama",0.368737,0.164055,0.240179,0.090288,0.136741
2,"Barbour County, Alabama",0.256397,0.166836,0.251219,0.120532,0.205016
3,"Bibb County, Alabama",0.286873,0.167203,0.131413,0.237802,0.176709
4,"Blount County, Alabama",0.269984,0.149809,0.223583,0.197809,0.158816

In [190]:
normalized_industry_df.head()

,Geographic Area Name,"Estimate!!Total:!!Agriculture, forestry, fishing and hunting, and mining",Estimate!!Total:!!Construction,Estimate!!Total:!!Manufacturing,Estimate!!Total:!!Wholesale trade,Estimate!!Total:!!Retail trade,"Estimate!!Total:!!Transportation and warehousing, and utilities",Estimate!!Total:!!Information,"Estimate!!Total:!!Finance and insurance, and real estate and rental and leasing","Estimate!!Total:!!Professional, scientific, and management, and administrative and waste management services","Estimate!!Total:!!Educational services, and health care and social assistance","Estimate!!Total:!!Arts, entertainment, and recreation, and accommodation and food services","Estimate!!Total:!!Other services, except public administration",Estimate!!Total:!!Public administration
0,"Autauga County, Alabama",0.011134,0.064420,0.150767,0.011551,0.113804,0.066124,0.023594,0.052869,0.082863,0.206893,0.097519,0.044689,0.073774
1,"Baldwin County, Alabama",0.007757,0.092381,0.080591,0.024142,0.156089,0.031446,0.010349,0.071003,0.128549,0.196281,0.101507,0.050169,0.049734
2,"Barbour County, Alabama",0.043562,0.022644,0.242689,0.012896,0.167953,0.064683,0.000000,0.034829,0.047725,0.176381,0.089968,0.052701,0.043968
3,"Bibb County, Alabama",0.029638,0.143017,0.111422,0.035929,0.142737,0.058856,0.007829,0.080526,0.045296,0.154341,0.017615,0.045995,0.126800
4,"Blount County, Alabama",0.023123,0.147040,0.167083,0.017274,0.146027,0.043827,0.007097,0.024877,0.118810,0.189425,0.040747,0.032637,0.042034

In [191]:
merged_parent_df = normalized_industry_df.merge(normalized_occupation_df, on="Geographic Area Name", how="left")

merged_parent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 19 columns):
 #   Column                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                        --------------  -----
 0   Geographic Area Name                                                                                          1904 non-null   object
 1   Estimate!!Total:!!Agriculture, forestry, fishing and hunting, and mining                                      1881 non-null   float64
 2   Estimate!!Total:!!Construction                                                                                1881 non-null   float64
 3   Estimate!!Total:!!Manufacturing                                                                               1881 non-null   float64
 4   Estimate!!Total:!!Wholesale trade                                                                             1881 non-null   float64
 5   Estimate!!Total:!!Retail trade                                                                                1881 non-null   float64
 6   Estimate!!Total:!!Transportation and warehousing, and utilities                                               1881 non-null   float64
 7   Estimate!!Total:!!Information                                                                                 1881 non-null   float64
 8   Estimate!!Total:!!Finance and insurance, and real estate and rental and leasing                               1881 non-null   float64
 9   Estimate!!Total:!!Professional, scientific, and management, and administrative and waste management services  1881 non-null   float64
 10  Estimate!!Total:!!Educational services, and  health care and social assistance                                1881 non-null   float64
 11  Estimate!!Total:!!Arts, entertainment, and recreation, and accommodation and food services                    1881 non-null   float64
 12  Estimate!!Total:!!Other services, except public administration                                                1881 non-null   float64
 13  Estimate!!Total:!!Public administration                                                                       1881 non-null   float64
 14  Estimate!!Total:!!Management, business, science, and arts occupations                                         1904 non-null   float64
 15  Estimate!!Total:!!Service occupations                                                                         1904 non-null   float64
 16  Estimate!!Total:!!Sales and office occupations                                                                1904 non-null   float64
 17  Estimate!!Total:!!Natural resources, construction, and maintenance occupations                                1904 non-null   float64
 18  Estimate!!Total:!!Production, transportation, and material moving occupations                                 1904 non-null   float64
dtypes: float64(18), object(1)
memory usage: 282.8+ KB

In [192]:
cleaned_parent_df =  merged_parent_df

## 3. Export Cleaned Data

In [193]:
sub_data_arr = [cleaned_house_df, cleaned_insecurity_df, cleaned_insurance_df, cleaned_parent_df, cleaned_poverty_df]

**Export cleaned data to cleaned folder**

In [194]:
# remove duplicated row
for i, df in enumerate(sub_data_arr):
    sub_data_arr[i] = df.drop_duplicates(subset=["Geographic Area Name"])

In [195]:
state_abbreviations = {
    "Alabama": "AL", "Alaska": "AK", "Arizona": "AZ", "Arkansas": "AR", "California": "CA",
    "Colorado": "CO", "Connecticut": "CT", "Delaware": "DE", "Florida": "FL", "Georgia": "GA",
    "Hawaii": "HI", "Idaho": "ID", "Illinois": "IL", "Indiana": "IN", "Iowa": "IA", "Kansas": "KS",
    "Kentucky": "KY", "Louisiana": "LA", "Maine": "ME", "Maryland": "MD", "Massachusetts": "MA",
    "Michigan": "MI", "Minnesota": "MN", "Mississippi": "MS", "Missouri": "MO", "Montana": "MT",
    "Nebraska": "NE", "Nevada": "NV", "New Hampshire": "NH", "New Jersey": "NJ", "New Mexico": "NM",
    "New York": "NY", "North Carolina": "NC", "North Dakota": "ND", "Ohio": "OH", "Oklahoma": "OK",
    "Oregon": "OR", "Pennsylvania": "PA", "Rhode Island": "RI", "South Carolina": "SC",
    "South Dakota": "SD", "Tennessee": "TN", "Texas": "TX", "Utah": "UT", "Vermont": "VT",
    "Virginia": "VA", "Washington": "WA", "West Virginia": "WV", "Wisconsin": "WI", "Wyoming": "WY",
    "Puerto Rico": "PR"
}

for i in range(len(sub_data_arr)):
    df = sub_data_arr[i]
    updated_df = df.copy()
    
    updated_df[["County", "State"]] = updated_df["Geographic Area Name"].str.rsplit(", ", n=1, expand=True)
    
    updated_df["State"] = updated_df["State"].map(state_abbreviations)
    updated_df["County"] = updated_df["County"].str.replace(" County", "", regex=True)
    
    column_order = ["State", "County"] + [col for col in updated_df.columns if col not in ["State", "County"]]
    updated_df = updated_df[column_order]

    sub_data_arr[i] = updated_df

In [196]:
sub_data_arr[0].head()

,State,County,Geographic Area Name,Estimate!!Total:!!Built 2020 or later,Estimate!!Total:!!Built 2000 to 2019,Estimate!!Total:!!Built 1980 to 1999,Estimate!!Total:!!Built 1960 to 1979,Estimate!!Total:!!Built 1940 to 1959,Estimate!!Total:!!Built 1939 or earlier,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities,...,"Percent!!GROSS RENT!!Occupied units paying rent!!$2,000 to $2,499","Percent!!GROSS RENT!!Occupied units paying rent!!$2,500 to $2,999","Percent!!GROSS RENT!!Occupied units paying rent!!$3,000 or more",Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed),Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Less than 15.0 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!15.0 to 19.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!20.0 to 24.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!25.0 to 29.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30.0 to 34.9 percent,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!35.0 percent or more
0,AL,Autauga,"Autauga County, Alabama",0.018971,0.348779,0.233663,0.310232,0.058325,0.030030,0.5,...,2.4,0.6,2.5,4814,16.8,11.4,20.2,16.9,3.6,31.0
1,AL,Baldwin,"Baldwin County, Alabama",0.016696,0.460808,0.317366,0.156746,0.030529,0.017855,0.3,...,3.1,0.5,1.0,17291,12.9,12.9,16.7,9.6,10.5,37.3
2,AL,Barbour,"Barbour County, Alabama",0.000000,0.171020,0.400188,0.253661,0.104736,0.070395,0.2,...,0.4,0.0,0.0,2807,14.4,17.7,16.2,9.4,7.1,35.2
3,AL,Bibb,"Bibb County, Alabama",0.000000,0.269087,0.378022,0.226947,0.060487,0.065456,0.7,...,0.0,0.0,0.0,1187,24.8,1.7,17.4,7.6,1.5,47.1
4,AL,Blount,"Blount County, Alabama",0.003596,0.272173,0.367732,0.221302,0.092610,0.042588,0.6,...,0.7,0.0,0.2,3385,16.9,16.1,12.3,9.8,7.0,37.9

In [197]:
# export to csv file
file_names = ["house_df.csv", "insecurity_df.csv", "insurance_df.csv", "parent_df.csv", "poverty_df.csv"]
file_paths = [f"data/cleaned/{file}" for file in file_names]

for df, path in zip(sub_data_arr, file_paths):
    df.to_csv(path, index=False)

## 4. Merge sub data and main data

In [198]:
# Drop the same columns
for i in range(len(sub_data_arr)):
    sub_data_arr[i] = sub_data_arr[i].drop(columns=["Geographic Area Name"], errors="ignore")

Merged all sub data

In [199]:
merged_sub_df = sub_data_arr[0].copy()

for df in sub_data_arr[1:]:
    merged_sub_df = merged_sub_df.merge(df, on=["State", "County"], how="outer", suffixes=("", "_dup"))

merged_sub_df.shape

(1905, 108)

In [200]:
merged_sub_df

,State,County,Estimate!!Total:!!Built 2020 or later,Estimate!!Total:!!Built 2000 to 2019,Estimate!!Total:!!Built 1980 to 1999,Estimate!!Total:!!Built 1960 to 1979,Estimate!!Total:!!Built 1940 to 1959,Estimate!!Total:!!Built 1939 or earlier,Percent!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities,Percent Margin of Error!!SELECTED CHARACTERISTICS!!Occupied housing units!!Lacking complete plumbing facilities,...,"Estimate!!Total:!!Natural resources, construction, and maintenance occupations","Estimate!!Total:!!Production, transportation, and material moving occupations",Estimate!!Total:!!Income in the past 12 months below poverty level:,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Under 18 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!18 to 64 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!65 years and over,Estimate!!Total:!!Income in the past 12 months at or above poverty level:,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Under 18 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!18 to 64 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!65 years and over
0,AK,Anchorage Municipality,0.000326,0.215929,0.334001,0.386443,0.055647,0.007654,0.8,0.3,...,0.081916,0.129813,0.090879,0.029282,0.052536,0.009061,0.909121,0.213045,0.577913,0.118162
1,AK,Fairbanks North Star Borough,0.003117,0.236051,0.383170,0.304361,0.062920,0.010381,5.6,1.3,...,0.105975,0.129050,0.063963,0.005155,0.046028,0.012779,0.936037,0.236431,0.583356,0.116250
2,AK,Juneau City and Borough,0.002045,0.186389,0.323202,0.362412,0.049224,0.076728,0.5,0.4,...,0.090361,0.077469,0.065572,0.022861,0.040205,0.002505,0.934428,0.178039,0.618714,0.137675
3,AK,Kenai Peninsula Borough,0.001069,0.330991,0.372449,0.251864,0.041122,0.002505,3.2,0.6,...,0.126697,0.134527,0.116743,0.027977,0.073556,0.015210,0.883257,0.193786,0.512040,0.177431
4,AK,Matanuska-Susitna Borough,0.008721,0.443480,0.357209,0.151503,0.032107,0.006981,2.8,0.3,...,0.147371,0.115988,0.110347,0.036127,0.064669,0.009551,0.889653,0.221412,0.542426,0.125815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,WY,Sheridan,0.006586,0.325381,0.204220,0.187891,0.143875,0.132048,1.8,1.4,...,0.104936,0.116313,0.088657,0.008984,0.061832,0.017841,0.911343,0.229296,0.484486,0.197561
1901,WY,Sweetwater,0.003435,0.241191,0.235153,0.311352,0.079634,0.129235,0.2,0.2,...,0.195438,0.122657,0.094259,0.014067,0.062085,0.018107,0.905741,0.236511,0.557448,0.111782
1902,WY,Teton,0.007213,0.216882,0.470328,0.197886,0.060916,0.046776,0.0,0.4,...,0.064701,0.013272,0.076713,0.025096,0.048440,0.003178,0.923287,0.159985,0.566284,0.197018
1903,WY,Uinta,0.000000,0.114167,0.464446,0.238523,0.093459,0.089405,0.4,0.6,...,0.214531,0.110490,0.058630,0.006730,0.032406,0.019493,0.941370,0.240951,0.545917,0.154502
1904,NaN,District of Columbia,0.009357,0.194494,0.068664,0.181769,0.223941,0.321776,0.3,0.1,...,0.019933,0.037305,0.164719,0.045896,0.100737,0.018087,0.835281,0.146402,0.575600,0.113278

In [209]:
# "Lead States"와 "Merged States"의 차이를 찾기
lead_df["State"] = lead_df["State"].str.strip()
lead_df["County"] = lead_df["County"].str.strip()

merged_sub_df["State"] = merged_sub_df["State"].str.strip()
merged_sub_df["County"] = merged_sub_df["County"].str.strip()

lead_states = sorted(lead_df["State"].dropna().unique())
merged_states = sorted(merged_sub_df["State"].dropna().unique())

lead_states_set = set(lead_states)
merged_states_set = set(merged_states)

only_in_lead = lead_states_set - merged_states_set
only_in_merged = merged_states_set - lead_states_set

state_difference_df = pd.DataFrame({
    "Only in Lead States": pd.Series(list(only_in_lead)),
    "Only in Merged States": pd.Series(list(only_in_merged))
})

state_difference_df

   Only in Lead States Only in Merged States
0                  NaN                    WY
1                  NaN                    NM
2                  NaN                    AZ
3                  NaN                    TN
4                  NaN                    KY
5                  NaN                    OR
6                  NaN                    IN
7                  NaN                    AR
8                  NaN                    VT
9                  NaN                    TX
10                 NaN                    ID
11                 NaN                    MT
12                 NaN                    PR
13                 NaN                    CA
14                 NaN                    PA
15                 NaN                    UT
16                 NaN                    SD
17                 NaN                    OH
18                 NaN                    CO
19                 NaN                    MA
20                 NaN                    ND
21                 NaN                    MN
22                 NaN                    ME
23                 NaN                    NE
24                 NaN                    VA

Merged with main data

In [210]:
# inner join
final_merged_df = lead_df.merge(merged_sub_df, on=["State", "County"], how="inner")

final_merged_df.shape

(863, 120)

In [211]:
final_merged_df

,State,County,Total Population of Children <72 Months of Age,Number of Children Tested <72 Months of Age,Number of Children with Confirmed BLLs ³5 µg/dL,Percent of Children with Confirmed BLLs ³5 µg/dL,Number of Children with Confirmed BLLs ³10 µg/dL,Percent of Children with Confirmed BLLs ³10 µg/dL,Number of Children with Confirmed BLLs 5-9 µg/dL,Number of Children with Confirmed BLLs 10-14 µg/dL,...,"Estimate!!Total:!!Natural resources, construction, and maintenance occupations","Estimate!!Total:!!Production, transportation, and material moving occupations",Estimate!!Total:!!Income in the past 12 months below poverty level:,Estimate!!Total:!!Income in the past 12 months below poverty level:!!Under 18 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!18 to 64 years,Estimate!!Total:!!Income in the past 12 months below poverty level:!!65 years and over,Estimate!!Total:!!Income in the past 12 months at or above poverty level:,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!Under 18 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!18 to 64 years,Estimate!!Total:!!Income in the past 12 months at or above poverty level:!!65 years and over
0,AL,Autauga,4045,238,SD,SD,SD,SD,0,SD,...,0.119030,0.183185,0.062251,0.013788,0.042303,0.006160,0.937749,0.218426,0.567738,0.151584
1,AL,Baldwin,14651,552,SD,SD,0,0.00%,SD,0,...,0.090288,0.136741,0.107568,0.036675,0.059861,0.011033,0.892432,0.174124,0.515682,0.202625
2,AL,Barbour,1571,268,SD,SD,SD,SD,0,SD,...,0.120532,0.205016,0.120990,0.035159,0.069537,0.016294,0.879010,0.200303,0.491164,0.187543
3,AL,Bibb,1459,105,SD,SD,SD,SD,0,SD,...,0.237802,0.176709,0.203955,0.088238,0.112653,0.003063,0.796045,0.111586,0.501439,0.183021
4,AL,Blount,4148,365,0,0.00%,0,0.00%,0,0,...,0.197809,0.158816,0.100099,0.024665,0.061071,0.014364,0.899901,0.202324,0.532138,0.165438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,WI,Waukesha,25345,2922,20,0.70%,SD,SD,15,SD,...,0.067862,0.107115,0.048959,0.011425,0.025039,0.012495,0.951041,0.200399,0.567411,0.183231
859,WI,Waupaca,3146,299,SD,SD,SD,SD,SD,SD,...,0.125690,0.275422,0.103782,0.029997,0.049696,0.024089,0.896218,0.175392,0.546213,0.174613
860,WI,Waushara,1319,124,SD,SD,SD,SD,0,SD,...,0.125256,0.238211,0.136310,0.046290,0.069204,0.020816,0.863690,0.141262,0.484724,0.237704
861,WI,Winnebago,11181,1143,25,2.20%,8,0.70%,17,SD,...,0.066334,0.226256,0.117332,0.027609,0.074094,0.015629,0.882668,0.178577,0.546233,0.157858
862,WI,Wood,4933,729,9,1.20%,SD,SD,7,0,...,0.106819,0.198874,0.127305,0.033528,0.076500,0.017276,0.872695,0.177330,0.503807,0.191559

In [212]:
final_merged_df.to_csv("data/cleaned/Lead_Poisoning_Risk_Factors.csv", index=False)