In [63]:
import pandas as pd
import numpy as np


path = "data/cleaned/"

# main data
lead_df = pd.read_csv(path + "blood-lead.csv", encoding="ISO-8859-1")

# factors
# county level
house_df = pd.read_csv(path + "house_df.csv")
insecurity_df = pd.read_csv(path + "insecurity_df.csv")
insurance_df = pd.read_csv(path + "insurance_df.csv")
parent_df = pd.read_csv(path + "parent_df.csv")
poverty_df = pd.read_csv(path + "poverty_df.csv")
geo_df = pd.read_csv(path + "geodata.csv")
# state level
adhd_df = pd.read_csv(path + "adhd.csv")

In [64]:
county_level_data = [house_df, insecurity_df, insurance_df, parent_df, poverty_df, geo_df]
county_level_data_name = ["House", "Insecurity", "Insurance", "Parent", "Poverty", "Location"]

for name, df in zip(county_level_data_name, county_level_data):
    print(f"\nðŸ“Œ {name} Overview:")
    print(df.info())
    print("="*100)

ðŸ“Œ House Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   State                                 1904 non-null   object
 1   County                                1904 non-null   object
 2   Built 2020 or later                   1903 non-null   float64
 3   Built 2000 to 2019                    1903 non-null   float64
 4   Built 1980 to 1999                    1903 non-null   float64
 5   Built 1960 to 1979                    1903 non-null   float64
 6   Built 1940 to 1959                    1903 non-null   float64
 7   Built 1939 or earlier                 1903 non-null   float64
 8   Lacking complete plumbing facilities  1904 non-null   float64
 9   Lacking complete kitchen facilities   1904 non-null   float64
 10  House PriceLess than $50,000          1904 non-null   float64
 11  House Price$50,000 to $99,999         1904 non-null   float64
 12  House Price$100,000 to $149,999       1904 non-null   float64
 13  House Price$150,000 to $199,999       1904 non-null   float64
 14  House Price$200,000 to $299,999       1904 non-null   float64
 15  House Price$300,000 to $499,999       1904 non-null   float64
 16  House Price$500,000 to $999,999       1904 non-null   float64
 17  House Price$1,000,000 or more         1904 non-null   float64
 18  Rent PriceLess than $500              1904 non-null   float64
 19  Rent Price$500 to $999                1904 non-null   float64
 20  Rent Price$1,000 to $1,499            1904 non-null   float64
 21  Rent Price$1,500 to $1,999            1904 non-null   float64
 22  Rent Price$2,000 to $2,499            1904 non-null   float64
 23  Rent Price$2,500 to $2,999            1904 non-null   float64
 24  Rent Price$3,000 or more              1904 non-null   float64
dtypes: float64(23), object(2)
memory usage: 372.0+ KB
None
====================================================================================================

ðŸ“Œ Insecurity Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State            840 non-null    object
 1   County           840 non-null    object
 2   Owner occupied   840 non-null    float64
 3   Renter occupied  840 non-null    float64
dtypes: float64(2), object(2)
memory usage: 26.4+ KB
None
====================================================================================================

ðŸ“Œ Insurance Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 8 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   State                                               1905 non-null   object
 1   County                                              1905 non-null   object
 2   Under 19 years:!!With health insurance coverage     1905 non-null   float64
 3   Under 19 years:!!No health insurance coverage       1905 non-null   float64
 4   19 to 64 years:!!With health insurance coverage     1905 non-null   float64
 5   19 to 64 years:!!No health insurance coverage       1905 non-null   float64
 6   65 years and over:!!With health insurance coverage  1905 non-null   float64
 7   65 years and over:!!No health insurance coverage    1905 non-null   float64
dtypes: float64(6), object(2)
memory usage: 119.2+ KB
None
====================================================================================================

ðŸ“Œ Parent Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 20 columns):
 #   Column                                                                                      Non-Null Count  Dtype
---  ------                                                                                      --------------  -----
 0   State                                                                                       1904 non-null   object
 1   County                                                                                      1904 non-null   object
 2   Agriculture, forestry, fishing and hunting, and mining                                      1881 non-null   float64
 3   Construction                                                                                1881 non-null   float64
 4   Manufacturing                                                                               1881 non-null   float64
 5   Wholesale trade                                                                             1881 non-null   float64
 6   Retail trade                                                                                1881 non-null   float64
 7   Transportation and warehousing, and utilities                                               1881 non-null   float64
 8   Information                                                                                 1881 non-null   float64
 9   Finance and insurance, and real estate and rental and leasing                               1881 non-null   float64
 10  Professional, scientific, and management, and administrative and waste management services  1881 non-null   float64
 11  Educational services, and  health care and social assistance                                1881 non-null   float64
 12  Arts, entertainment, and recreation, and accommodation and food services                    1881 non-null   float64
 13  Other services, except public administration                                                1881 non-null   float64
 14  Public administration                                                                       1881 non-null   float64
 15  Management, business, science, and arts occupations                                         1904 non-null   float64
 16  Service occupations                                                                         1904 non-null   float64
 17  Sales and office occupations                                                                1904 non-null   float64
 18  Natural resources, construction, and maintenance occupations                                1904 non-null   float64
 19  Production, transportation, and material moving occupations                                 1904 non-null   float64
dtypes: float64(18), object(2)
memory usage: 297.6+ KB
None
====================================================================================================

ðŸ“Œ Poverty Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 8 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   State                                                                       1904 non-null   object
 1   County                                                                      1904 non-null   object
 2   Income in the past 12 months below poverty level:!!Under 18 years           1904 non-null   float64
 3   Income in the past 12 months below poverty level:!!18 to 64 years           1904 non-null   float64
 4   Income in the past 12 months below poverty level:!!65 years and over        1904 non-null   float64
 5   Income in the past 12 months at or above poverty level:!!Under 18 years     1904 non-null   float64
 6   Income in the past 12 months at or above poverty level:!!18 to 64 years     1904 non-null   float64
 7   Income in the past 12 months at or above poverty level:!!65 years and over  1904 non-null   float64
dtypes: float64(6), object(2)
memory usage: 119.1+ KB
None
====================================================================================================

ðŸ“Œ Location Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3144 entries, 0 to 3143
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   3144 non-null   object
 1   County  3144 non-null   object
 2   lat     3144 non-null   float64
 3   lng     3144 non-null   float64
dtypes: float64(2), object(2)
memory usage: 98.4+ KB
None
====================================================================================================

In [65]:
for name, df in zip(county_level_data_name, county_level_data):
    print(f"\nðŸ“Œ {name} Duplicated County:")
    key_counts = df.groupby(["State", "County"]).size().reset_index(name="counts")
    duplicated_keys = key_counts[key_counts["counts"] > 1]
    print(duplicated_keys)
    print("="*100)

ðŸ“Œ House Duplicated County:
Empty DataFrame
Columns: [State, County, counts]
Index: []
====================================================================================================

ðŸ“Œ Insecurity Duplicated County:
Empty DataFrame
Columns: [State, County, counts]
Index: []
====================================================================================================

ðŸ“Œ Insurance Duplicated County:
Empty DataFrame
Columns: [State, County, counts]
Index: []
====================================================================================================

ðŸ“Œ Parent Duplicated County:
Empty DataFrame
Columns: [State, County, counts]
Index: []
====================================================================================================

ðŸ“Œ Poverty Duplicated County:
Empty DataFrame
Columns: [State, County, counts]
Index: []
====================================================================================================

ðŸ“Œ Location Duplicated County:
     State     County  counts
1195    MD  Baltimore       2
1502    MO  St. Louis       2
2843    VA    Fairfax       2
2848    VA   Franklin       2
2908    VA   Richmond       2
2909    VA    Roanoke       2
====================================================================================================

In [66]:
geo_df = geo_df.drop_duplicates(subset=["State", "County"], keep="first")

county_level_data = [house_df, insecurity_df, insurance_df, parent_df, poverty_df, geo_df]

In [67]:
lead_df["State"] = lead_df["State"].astype(str).str.upper().str.strip()
lead_df["County"] = lead_df["County"].astype(str).str.upper().str.strip()

for name, df in zip(county_level_data_name, county_level_data):
    df["State"] = df["State"].astype(str).str.upper().str.strip()
    df["County"] = df["County"].astype(str).str.upper().str.strip()
    print(df.head())

  State   County  Built 2020 or later  Built 2000 to 2019  Built 1980 to 1999  \
0    AL  AUTAUGA             0.018971            0.348779            0.233663
1    AL  BALDWIN             0.016696            0.460808            0.317366
2    AL  BARBOUR             0.000000            0.171020            0.400188
3    AL     BIBB             0.000000            0.269087            0.378022
4    AL   BLOUNT             0.003596            0.272173            0.367732

   Built 1960 to 1979  Built 1940 to 1959  Built 1939 or earlier  \
0            0.310232            0.058325               0.030030
1            0.156746            0.030529               0.017855
2            0.253661            0.104736               0.070395
3            0.226947            0.060487               0.065456
4            0.221302            0.092610               0.042588

   Lacking complete plumbing facilities  Lacking complete kitchen facilities  \
0                                   0.5                                  0.7
1                                   0.3                                  0.7
2                                   0.2                                  0.6
3                                   0.7                                  1.6
4                                   0.6                                  0.8

   ...  House Price$300,000 to $499,999  House Price$500,000 to $999,999  \
0  ...                             12.5                              2.5
1  ...                             21.7                              9.1
2  ...                              6.4                              2.8
3  ...                              5.9                              0.3
4  ...                              9.0                              2.7

   House Price$1,000,000 or more  Rent PriceLess than $500  \
0                            0.1                      11.5
1                            2.2                       6.4
2                            0.5                      37.0
3                            1.2                      29.2
4                            0.6                      19.0

   Rent Price$500 to $999  Rent Price$1,000 to $1,499  \
0                    29.5                        34.3
1                    33.5                        38.5
2                    53.1                         9.6
3                    55.3                        12.5
4                    67.4                        12.1

   Rent Price$1,500 to $1,999  Rent Price$2,000 to $2,499  \
0                        19.0                         2.4
1                        17.0                         3.1
2                         0.0                         0.4
3                         2.9                         0.0
4                         0.7                         0.7

   Rent Price$2,500 to $2,999  Rent Price$3,000 or more
0                         0.6                       2.5
1                         0.5                       1.0
2                         0.0                       0.0
3                         0.0                       0.0
4                         0.0                       0.2

[5 rows x 25 columns]
  State   County  Owner occupied  Renter occupied
0    AL  BALDWIN        0.758514         0.241486
1    AL  CALHOUN        0.727521         0.272479
2    AL  CULLMAN        0.759671         0.240329
3    AL   DEKALB        0.787181         0.212819
4    AL   ELMORE        0.716021         0.283979
  State   County  Under 19 years:!!With health insurance coverage  \
0    AL  AUTAUGA                                         0.249213
1    AL  BALDWIN                                         0.209946
2    AL  BARBOUR                                         0.254647
3    AL     BIBB                                         0.196435
4    AL   BLOUNT                                         0.235781

   Under 19 years:!!No health insurance coverage  \
0                                       0.007229
1                                       0.012725
2                                       0.000688
3                                       0.006173
4                                       0.004669

   19 to 64 years:!!With health insurance coverage  \
0                                         0.522874
1                                         0.491801
2                                         0.475880
3                                         0.554215
4                                         0.493099

   19 to 64 years:!!No health insurance coverage  \
0                                       0.058095
1                                       0.072198
2                                       0.064947
3                                       0.057092
4                                       0.087715

   65 years and over:!!With health insurance coverage  \
0                                           0.161534
1                                           0.210056
2                                           0.203837
3                                           0.186084
4                                           0.178736

   65 years and over:!!No health insurance coverage
0                                          0.001055
1                                          0.003275
2                                          0.000000
3                                          0.000000
4                                          0.000000
  State   County  Agriculture, forestry, fishing and hunting, and mining  \
0    AL  AUTAUGA                                           0.011134
1    AL  BALDWIN                                           0.007757
2    AL  BARBOUR                                           0.043562
3    AL     BIBB                                           0.029638
4    AL   BLOUNT                                           0.023123

   Construction  Manufacturing  Wholesale trade  Retail trade  \
0      0.064420       0.150767         0.011551      0.113804
1      0.092381       0.080591         0.024142      0.156089
2      0.022644       0.242689         0.012896      0.167953
3      0.143017       0.111422         0.035929      0.142737
4      0.147040       0.167083         0.017274      0.146027

   Transportation and warehousing, and utilities  Information  \
0                                       0.066124     0.023594
1                                       0.031446     0.010349
2                                       0.064683     0.000000
3                                       0.058856     0.007829
4                                       0.043827     0.007097

   Finance and insurance, and real estate and rental and leasing  \
0                                           0.052869
1                                           0.071003
2                                           0.034829
3                                           0.080526
4                                           0.024877

   Professional, scientific, and management, and administrative and waste management services  \
0                                           0.082863
1                                           0.128549
2                                           0.047725
3                                           0.045296
4                                           0.118810

   Educational services, and  health care and social assistance  \
0                                           0.206893
1                                           0.196281
2                                           0.176381
3                                           0.154341
4                                           0.189425

   Arts, entertainment, and recreation, and accommodation and food services  \
0                                           0.097519
1                                           0.101507
2                                           0.089968
3                                           0.017615
4                                           0.040747

   Other services, except public administration  Public administration  \
0                                      0.044689               0.073774
1                                      0.050169               0.049734
2                                      0.052701               0.043968
3                                      0.045995               0.126800
4                                      0.032637               0.042034

   Management, business, science, and arts occupations  Service occupations  \
0                                           0.278546               0.148192
1                                           0.368737               0.164055
2                                           0.256397               0.166836
3                                           0.286873               0.167203
4                                           0.269984               0.149809

   Sales and office occupations  \
0                      0.271047
1                      0.240179
2                      0.251219
3                      0.131413
4                      0.223583

   Natural resources, construction, and maintenance occupations  \
0                                           0.119030
1                                           0.090288
2                                           0.120532
3                                           0.237802
4                                           0.197809

   Production, transportation, and material moving occupations
0                                           0.183185
1                                           0.136741
2                                           0.205016
3                                           0.176709
4                                           0.158816
  State   County  \
0    AL  AUTAUGA
1    AL  BALDWIN
2    AL  BARBOUR
3    AL     BIBB
4    AL   BLOUNT

   Income in the past 12 months below poverty level:!!Under 18 years  \
0                                           0.013788
1                                           0.036675
2                                           0.035159
3                                           0.088238
4                                           0.024665

   Income in the past 12 months below poverty level:!!18 to 64 years  \
0                                           0.042303
1                                           0.059861
2                                           0.069537
3                                           0.112653
4                                           0.061071

   Income in the past 12 months below poverty level:!!65 years and over  \
0                                           0.006160
1                                           0.011033
2                                           0.016294
3                                           0.003063
4                                           0.014364

   Income in the past 12 months at or above poverty level:!!Under 18 years  \
0                                           0.218426
1                                           0.174124
2                                           0.200303
3                                           0.111586
4                                           0.202324

   Income in the past 12 months at or above poverty level:!!18 to 64 years  \
0                                           0.567738
1                                           0.515682
2                                           0.491164
3                                           0.501439
4                                           0.532138

   Income in the past 12 months at or above poverty level:!!65 years and over
0                                           0.151584
1                                           0.202625
2                                           0.187543
3                                           0.183021
4                                           0.165438
  State          County      lat       lng
0    AK  ALEUTIANS EAST  55.3669 -161.9805
1    AK  ALEUTIANS WEST  52.7985 -106.5633
2    AK       ANCHORAGE  61.1498 -149.1082
3    AK          BETHEL  60.9132 -159.8186
4    AK     BRISTOL BAY  58.7439 -156.7000

In [68]:
lead_df.shape

(2151, 3)

In [69]:
merged_df = lead_df.copy()

for df in county_level_data:
    merged_df = pd.merge(merged_df, df, on=["State", "County"], how="left")

print(merged_df.head())

  State   County Percent of Children with Confirmed BLLs Â³5 Âµg/dL  \
0    AL  AUTAUGA                                               SD
1    AL  BALDWIN                                               SD
2    AL  BARBOUR                                               SD
3    AL     BIBB                                               SD
4    AL   BLOUNT                                            0.00%

   Built 2020 or later  Built 2000 to 2019  Built 1980 to 1999  \
0             0.018971            0.348779            0.233663
1             0.016696            0.460808            0.317366
2             0.000000            0.171020            0.400188
3             0.000000            0.269087            0.378022
4             0.003596            0.272173            0.367732

   Built 1960 to 1979  Built 1940 to 1959  Built 1939 or earlier  \
0            0.310232            0.058325               0.030030
1            0.156746            0.030529               0.017855
2            0.253661            0.104736               0.070395
3            0.226947            0.060487               0.065456
4            0.221302            0.092610               0.042588

   Lacking complete plumbing facilities  ...  \
0                                   0.5  ...
1                                   0.3  ...
2                                   0.2  ...
3                                   0.7  ...
4                                   0.6  ...

   Natural resources, construction, and maintenance occupations  \
0                                           0.119030
1                                           0.090288
2                                           0.120532
3                                           0.237802
4                                           0.197809

   Production, transportation, and material moving occupations  \
0                                           0.183185
1                                           0.136741
2                                           0.205016
3                                           0.176709
4                                           0.158816

   Income in the past 12 months below poverty level:!!Under 18 years  \
0                                           0.013788
1                                           0.036675
2                                           0.035159
3                                           0.088238
4                                           0.024665

   Income in the past 12 months below poverty level:!!18 to 64 years  \
0                                           0.042303
1                                           0.059861
2                                           0.069537
3                                           0.112653
4                                           0.061071

   Income in the past 12 months below poverty level:!!65 years and over  \
0                                           0.006160
1                                           0.011033
2                                           0.016294
3                                           0.003063
4                                           0.014364

   Income in the past 12 months at or above poverty level:!!Under 18 years  \
0                                           0.218426
1                                           0.174124
2                                           0.200303
3                                           0.111586
4                                           0.202324

   Income in the past 12 months at or above poverty level:!!18 to 64 years  \
0                                           0.567738
1                                           0.515682
2                                           0.491164
3                                           0.501439
4                                           0.532138

   Income in the past 12 months at or above poverty level:!!65 years and over  \
0                                           0.151584
1                                           0.202625
2                                           0.187543
3                                           0.183021
4                                           0.165438

       lat      lng
0  32.5349 -86.6427
1  30.7277 -87.7226
2  31.8696 -85.3932
3  32.9986 -87.1265
4  33.9809 -86.5674

[5 rows x 60 columns]

In [70]:
merged_df.shape

(2151, 60)

In [71]:
merged_df = pd.merge(merged_df, adhd_df, on=["State"], how="left")

In [72]:
merged_df.shape

(2151, 66)

In [73]:
merged_df.head()

,State,County,Percent of Children with Confirmed BLLs Â³5 Âµg/dL,Built 2020 or later,Built 2000 to 2019,Built 1980 to 1999,Built 1960 to 1979,Built 1940 to 1959,Built 1939 or earlier,Lacking complete plumbing facilities,...,Income in the past 12 months at or above poverty level:!!18 to 64 years,Income in the past 12 months at or above poverty level:!!65 years and over,lat,lng,ADHD Percentage (Ever),ADHD Percentage (Current),ADHD Behavior Treatment(%),ADHD Medication(%),ADHD Meds or BT,Any Treatment
0,AL,AUTAUGA,SD,0.018971,0.348779,0.233663,0.310232,0.058325,0.030030,0.5,...,0.567738,0.151584,32.5349,-86.6427,12.7,12.1,50.6,77.0,84.3,91.2
1,AL,BALDWIN,SD,0.016696,0.460808,0.317366,0.156746,0.030529,0.017855,0.3,...,0.515682,0.202625,30.7277,-87.7226,12.7,12.1,50.6,77.0,84.3,91.2
2,AL,BARBOUR,SD,0.000000,0.171020,0.400188,0.253661,0.104736,0.070395,0.2,...,0.491164,0.187543,31.8696,-85.3932,12.7,12.1,50.6,77.0,84.3,91.2
3,AL,BIBB,SD,0.000000,0.269087,0.378022,0.226947,0.060487,0.065456,0.7,...,0.501439,0.183021,32.9986,-87.1265,12.7,12.1,50.6,77.0,84.3,91.2
4,AL,BLOUNT,0.00%,0.003596,0.272173,0.367732,0.221302,0.092610,0.042588,0.6,...,0.532138,0.165438,33.9809,-86.5674,12.7,12.1,50.6,77.0,84.3,91.2

In [74]:
def process_value(val):
    if pd.isnull(val):
        return np.nan
    cleaned = str(val).replace("SD", "").replace("%", "").strip()
    return cleaned

merged_df["Percent of Children with Confirmed BLLs Â³5 Âµg/dL"] = merged_df["Percent of Children with Confirmed BLLs Â³5 Âµg/dL"].apply(process_value)

In [75]:
merged_df.head()

,State,County,Percent of Children with Confirmed BLLs Â³5 Âµg/dL,Built 2020 or later,Built 2000 to 2019,Built 1980 to 1999,Built 1960 to 1979,Built 1940 to 1959,Built 1939 or earlier,Lacking complete plumbing facilities,...,Income in the past 12 months at or above poverty level:!!18 to 64 years,Income in the past 12 months at or above poverty level:!!65 years and over,lat,lng,ADHD Percentage (Ever),ADHD Percentage (Current),ADHD Behavior Treatment(%),ADHD Medication(%),ADHD Meds or BT,Any Treatment
0,AL,AUTAUGA,,0.018971,0.348779,0.233663,0.310232,0.058325,0.030030,0.5,...,0.567738,0.151584,32.5349,-86.6427,12.7,12.1,50.6,77.0,84.3,91.2
1,AL,BALDWIN,,0.016696,0.460808,0.317366,0.156746,0.030529,0.017855,0.3,...,0.515682,0.202625,30.7277,-87.7226,12.7,12.1,50.6,77.0,84.3,91.2
2,AL,BARBOUR,,0.000000,0.171020,0.400188,0.253661,0.104736,0.070395,0.2,...,0.491164,0.187543,31.8696,-85.3932,12.7,12.1,50.6,77.0,84.3,91.2
3,AL,BIBB,,0.000000,0.269087,0.378022,0.226947,0.060487,0.065456,0.7,...,0.501439,0.183021,32.9986,-87.1265,12.7,12.1,50.6,77.0,84.3,91.2
4,AL,BLOUNT,0.00,0.003596,0.272173,0.367732,0.221302,0.092610,0.042588,0.6,...,0.532138,0.165438,33.9809,-86.5674,12.7,12.1,50.6,77.0,84.3,91.2

In [76]:
merged_df.to_csv("data/cleaned/merged_df.csv", index=False)